@import 'mixins';
@import 'fonts';

:root {
    --background: white;
    --font-size: 1.5vw;
    --font-size-mobile: 4vw;

    --black: #000000;
    --primary-color: var(--purple);

    --purple: #ff00ff;
    --orange: #ff6f00;
    --green: #6f7f6f;
}

.has-paragraphs {
    word-break: normal;
    hyphens: none;
}

.has-paragraphs a {
    border-bottom-width: .075rem;
}

body {
    font-family: 'Agrandir';
    font-variation-settings: "wght"500, "wdth"150;
    color: var(--black);
    height: 100%;
    min-height: 100%;
}

.has-paragraphs> :not(:last-child) {
    margin-bottom: 1em;
}

.marquee {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99;
    // mix-blend-mode: difference;

    svg {
        width: 40vw;
        height: 28vw;
        fill: var(--orange);

        @include breakpoint(md) {
            width: 25vw;
            height: 17.5vw;
        }
    }

    &.is-bump {
        svg {
            fill: var(--green);
        }
    }
}


.saigoii-title {
    display: inline-flex;
    position: relative;
    z-index: 2;
    margin-bottom: .5em;
    font-variation-settings: "wght"600, "wdth"150;
    font-size: 8vw;

    @include breakpoint(md) {
        font-size: 6vw;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 25vw;
        height: 8vw;
        background: var(--purple);
        z-index: -1;
        border-radius: 50%;
        transform: translateX(-50%) rotate(-10deg);
    }

    &.is-green {
        &:after {
            background: var(--green);
        }
    }

    &.is-orange {
        &:after {
            background: var(--orange);
        }
    }

    &.is-white {
        &:after {
            background: var(--white);
        }
    }
}

@import 'hero';
@import 'footer';
@import 'artists';
@import 'landing';
@import 'poster';

.saigoii-about {
    position: relative;
    display: block;
    padding: calc(1vw + 1rem);
    font-variation-settings: "wght"500, "wdth"150;


    &-content {
        width: 100%;

        @include breakpoint(md) {
            width: 75%;
            font-size: 3vw;
        }
    }

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        padding-top: 12.5vw;

        img {
            width: 100vw;
        }

        &-middle {
            display: block;
            height: 100%;
            background: #ff6f00;
            margin-top: -1px;
            margin-bottom: -1px;
        }
    }
}

.saigoii-organizers {
    display: grid;
    grid-auto-columns: minmax(0, max-content);
    grid-gap: calc(1vw + 2rem);

    a {
        border-bottom: 0;
    }

    @include breakpoint(md) {
        grid-auto-flow: column;
        grid-gap: 12vw;

    }
}

.saigoii-organizers-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, max-content);
    grid-gap: 30px;

    .saigoii-organizers-item {
        display: block;

        img {
            max-height: 70px;

            @include breakpoint(md) {
                max-height: 7.5vw;
            }
        }
    }
}




.saigoii-tickets {
    position: relative;

    padding: calc(1vw + 1rem);

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        img {
            width: 100vw;
            object-fit: stretch;
        }

        &-middle {
            display: block;
            height: 100%;
            background: var(--purple);
            margin-top: -1px;
            margin-bottom: -1px;
        }
    }
}



.saigoii-giveaway {
    padding: calc(1vw + 1rem);

    &-content {
        margin-top: 2em;

        @include breakpoint(md) {
            max-width: 75%;
            font-size: 3vw;
        }
    }
}





.saigoii-merch {
    padding: calc(1rem + 1vw);
    background-color: var(--green);
    padding-bottom: calc(2rem + 2vw);

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: calc(1rem + 1vw);
    }

    &-item {
        &:nth-child(2n+2) {
            margin-top: -10%;
        }

        &:nth-child(2n+1) {
            margin-top: 25%;
        }

        &-name {
            margin-top: 5vw;
            text-align: center;
        }
    }
}